.header { 
  background-image: url('./assets/images/AH_new\ Banner.png');
  background-size:cover;
  background-repeat: no-repeat;
}
.header-phone { 
  background-image: url('./assets/Asian-Harvest-Banner-Image-Mobile.png');
  background-size: cover;
  background-repeat: no-repeat;
}
 
